@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.logo {
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  width: 250px;
}

.input-style {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  box-shadow: 0 2px 4px rgba(182, 37, 12, 0.1);
  color: black;
}

.button-style {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #ef704f;
  color: white;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-style:hover {
  background-color: darken(#ef704f, 10%);
  background-color: #faa792;
}

.dropdown-button {
  border: 4px solid transparent;
}

.dropdown-button:hover,
.dropdown-button:active {
  border: 4px solid #faa792 !important;
}

.dropdown-button:focus {
  border: 4px solid #faa792 !important;
}

.border-dark-edge-left {
  position: absolute;
  background-color: #ef704f;
  width: 5px;
  height: 100%;
  bottom: 0%;
  left: 0;
}

.border-dark-edge-right {
  position: absolute;
  background-color: #ef704f;
  width: 5px;
  height: 100%;
  bottom: 0%;
  right: 0;
}

@keyframes zoomAndFocus {
  0% {
    opacity: 0;
    font-size: 10px;
  }

  100% {
    opacity: 1;
    font-size: 40px;
  }
}
/* animation */
@keyframes mergeAndFade {
  0% {
    opacity: 1;
    background-color: red;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    background-color: red;
    transform: translateX(calc(-50vw + 50%));
  }
}
@keyframes mergeAndSlideRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(50%);
  }
}
@keyframes mergeAndSlideLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
.zoomAndFocus {
  animation: zoomAndFocus 2s ease-out forwards;
}
.mergeAndFade {
  animation: mergeAndFade 1.2s ease-out forwards;
}
.mergeAndSlideRight {
  animation: mergeAndSlideRight 2.3s forwards;
}
.mergeAndSlideLeft {
  animation: mergeAndSlideLeft 2.3s forwards;
}

.heroDiv {
  background-color: rgba(66, 61, 61, 0.274);
  position: fixed;
  width: 80vw;
  height: 40vw;
  top: 6%;
  right: 0%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.heroDiv2 {
  background-color: rgba(66, 61, 61, 0.274);
  position: fixed;
  width: 80vw;
  height: 40vw;
  top: 6%;
  right: 0%;
  display: flex;
}

.innerDiv {
  flex-basis: calc(100% / 1);
  display: flex;
  justify-content: left;
  align-items: left;
  color: rgb(236, 227, 227);
  line-height: 0px;
}

.innerDiv::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: gray;
}

.outerDiv {
  flex-grow: 1;
  border: 1px solid gray;
}

.buttons-for {
  text-transform: uppercase;
  font-size: large;
  top: 5%;
  justify-content: space-between;
  left: 5%;
}

.buttons-for button {
  background-color: #ef704f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  justify-content: space-between;
}

#colnum {
  position: fixed;
  font-size: 6px;
  top: 2%;
  left: 17.5%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  color: #000;
  border-collapse: separate;
  border-spacing: 10px;
  margin-bottom: 19px;
}

.row-container {
  margin-bottom: 10px; /* Satırlar arasındaki boşluğu ayarlar */
}

.elephant {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  z-index: 2;
}
.horse {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  width: 40px;
  z-index: 2;
}

.castle {
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 1;
}

.table-row {
  margin-bottom: 100px;
}
